<!doctype html>
<html>
<title>tree explorer Wikipedia demo</title>
<style>
* {border:0;padding:0;margin:0;font:10px Verdana}
body,div {width:100%}
body {height:100%;background:#222}
.hover {color:#ff0}
.row {padding:1.7em 0;background:#666}
.row.odd {background:#555}
/*
.node:after {content:'/'}
.leaf:after {content:''}
*/
#frameC {position:absolute;left:5%;right:5%;bottom:1em;top:29em;width:90%;height:auto}
iframe {top:0;height:100%;left:0;width:100%}
</style>
<script src=TExpl.js></script>
<script>
function MyNodeClass(treeOrLeaf) {
if (typeof treeOrLeaf == "string") { // treeOrLeaf is a leaf
this.label=treeOrLeaf
this.isLeaf=true
this.isPopulated=true // since it is a leaf, it is as populated as it is going to get, but this should probably never be checked...
} else { // treeOrLeaf is not a leaf
this.label=treeOrLeaf[0]
this.isLeaf=false
this.isPopulated=false
this.originalData=treeOrLeaf // since we aren't populating it yet, we save a pointer to the data on the node so we can populate it later
}
}
MyNodeClass.prototype.getLabel=function(){return this.label}
MyNodeClass.prototype.getChildren=function(){
var ret=new Array()
for (var i=1;i<this.originalData.length;i++) ret.push(new MyNodeClass(this.originalData[i]))
return ret
}
MyNodeClass.prototype.onactivate=function(){
document.getElementById('iframe').src='http://en.wikipedia.org/wiki/'+this.label
}

onload=function(){
var options =
 { showEmpty  : true // whether to add text below nodes that have no children
 , emptyText  : 'nothing to see here' // the text to add if showEmpty is true
 , mouseStyle : 'click'                          // may be 'hover' or 'click'
 , padding    : 10       // the minimum padding required on panels, in pixels
 , hsLabels   : [' ← ',' → ']               // the horizontal scroller labels
 , hsMaxVel   : 0.8  // the maximum scroll velocity in pixels per millisecond
 , hsA        : (0.8/500)                    // auto-scroll ease-in parameter
 , hsB        : (0.8/200)                        // auto-scroll edge slowdown
 }
var root = new MyNodeClass(tree) // tree is a JSON array included below
var texpl = new ElasticRowTree(options,root)
texpl.onhoverpathchange=function(){console.log('onhoverpathchange')}
texpl.show()
}
</script>
<div id=frameC><iframe id=iframe src=frameHint.html></iframe></div>
<script>
/* N.B. the rest of the file after this point is just the data for the tree. */
tree= //FIXME: regenerate with the full data, without limiting child count {{{
['Tree_structure'
,['B-tree'
 ,'B%2B_tree'
 ,'B_sharp_tree'
 ,['Binary_tree'
  ,'(a,b)_tree'
  ,['2-3_tree'
   ,['AA_tree'
    ,'Red-black_tree'
    ,'AVL_tree'
    ]
   ,'2-3-4_tree'
   ]
  ,['Binary_search_tree'
   ,['Self-balancing_binary_search_tree'
    ,'DSW_algorithm'
    ,'Fusion_tree'
    ,'Skip_list'
    ,'Treap'
    ,'Sorting'
    ]
   ,'Randomized_binary_search_tree'
   ,['Data_structure'
    ,'Persistent_data_structure'
    ,'Unstructured_data'
    ,'Dynamization'
    ,'List_of_data_structures'
    ]
   ,['Trie'
    ,'Radix_tree'
    ,'Directed_acyclic_word_graph'
    ,'Ternary_search_tries'
    ,'Acyclic_deterministic_finite_automata'
    ,'Deterministic_finite_automata'
    ,'Judy_array'
    ,'Search_algorithm'
    ,'Extendible_hashing'
    ,'Prefix_Hash_Tree'
    ,'Burstsort'
    ,'Lule%C3%A5_algorithm'
    ]
   ,['Ternary_search_tree'
    ,'Interpolation_search'
    ,'Linear_search'
    ]
   ,['Hash_table'
    ,'Bloom_filter'
    ,'Distributed_hash_table'
    ,'Hash_function'
    ,'SUHA'
    ,'Rabin-Karp_string_search_algorithm'
    ,'Hash_list'
    ,'Hash_tree'
    ,'Stable_hashing'
    ,'Lazy_deletion'
    ,'Unordered_map'
    ]
   ]
  ,'Binary_space_partitioning'
  ,'Threaded_binary_tree'
  ,'Kraft%27s_inequality'
  ,['Recursion_(computer_science)'
   ,'Mutual_recursion'
   ,'Anonymous_recursion'
   ,'%CE%9C-recursive_function'
   ,['Primitive_recursive_function'
    ,'Course-of-values_recursion'
    ,'Machine_that_always_halts'
    ,'Grzegorczyk_hierarchy'
    ]
   ,['Functional_programming'
    ,'Eager_evaluation'
    ,'Function-level_programming'
    ,'Imperative_programming'
    ,'Lambda_calculus'
    ,'List_of_functional_programming_topics'
    ,'Logic_programming'
    ,'Nested_function'
    ,'Procedural_programming'
    ,'Purely_functional'
    ,'Structure_and_Interpretation_of_Computer_Programs'
    ]
   ,['Kleene-Rosser_paradox'
    ,'Richard_paradox'
    ,'Curry%27s_paradox'
    ,'Liar_paradox'
    ]
   ,'McCarthy_91_function'
   ,['Ackermann_function'
    ,'Computability_theory_(computer_science)'
    ,'Charity_(programming_language)'
    ]
   ,'Sierpi%C5%84ski_curve'
   ]
  ]
 ,'Dancing_tree'
 ,['R-tree'
  ,['Minimum_bounding_rectangle'
   ,['C-squares'
    ,'World_Meteorological_Organization_squares'
    ,'Grid_(spatial_index)'
    ,'Geocode'
    ,'Geospatial_metadata'
    ,'Ocean_Biogeographic_Information_System'
    ,'FishBase'
    ,'CSIRO_Marine_and_Atmospheric_Research'
    ]
   ,['Geographic_information_system'
    ,'Portal:Atlas'
    ,'AM/FM/GIS'
    ,'Cartography'
    ,'Crime_Mapping'
    ,'Digital_raster_graphic'
    ,'Distributed_GIS'
    ,'Geodesy'
    ,'Geoinformatics'
    ,'Geographic_information_science'
    ,'Geoinformation'
    ,'Geomatics'
    ,'Geo_(marketing)'
    ,'GIS_applications'
    ,'GIS_Day'
    ,'List_of_GIS_software'
    ,'Comparison_of_GIS_software'
    ,'Open_Source_Geospatial_Foundation'
    ,'Open_GIS_Consortium'
    ,'Participatory_GIS'
    ,'Public_Participation_GIS'
    ,'Pictometry'
    ,'Remote_sensing'
    ,'TerraLook'
    ,'Traditional_knowledge_GIS'
    ,'UNIGIS'
    ,'Virtual_globe'
    ,'Topologically_Integrated_Geographic_Encoding_and_Referencing'
    ,'At-location_mapping'
    ,'GIS_in_archaeology'
    ,'Historical_GIS'
    ,'Automotive_navigation_system'
    ,'Map_database_management'
    ,'Geographic_Data_Files'
    ,'ZIP_code'
    ,'Institute_of_Geoinformatics_%26_Remote_Sensing'
    ,'The_National_States_Geographic_Information_Council'
    ]
   ,'Shapefile'
   ,'Spatial_index'
   ,'Elongatedness'
   ]
  ,'GiST'
  ]
 ,'UB-tree'
 ,['K-d_tree'
  ,['Implicit_kd-tree'
   ,['Kd-tree'
    ,'Min/max_kd-tree'
    ,'Octree'
    ,'Bounding_Interval_Hierarchy'
    ,'Nearest_neighbor_search'
    ,'Klee%27s_measure_problem'
    ]
   ]
  ]
 ,['Splay_tree'
  ,['Donald_Knuth'
   ,'Knuth%E2%80%93Morris%E2%80%93Pratt_algorithm'
   ,'Knuth_shuffle#Shuffling_algorithms'
   ,'Knuth%27s_up-arrow_notation'
   ,['Asymptotic_notation'
    ,'Asymptotic_expansion'
    ,'Asymptotically_optimal'
    ,'Hardy_notation'
    ,'Limit_superior_and_limit_inferior'
    ,'Nachbin%27s_theorem'
    ]
   ,'Knuth-Bendix_completion_algorithm'
   ,['Man_or_boy_test'
    ,'Jensen%27s_Device'
    ]
   ,'Trabb_Pardo-Knuth_algorithm'
   ,'Dancing_Links'
   ,['Knuth_-yllion'
    ,'French_Renaissance'
    ]
   ,'The_Complexity_of_Songs'
   ,'Knuth_Prize'
   ,['List_of_science_and_religion_scholars'
    ,'List_of_1930%27s_%27science-and-religion_dialogue%27_participants'
    ,'Religion_and_science_community'
    ,'List_of_Christian_thinkers_in_science'
    ,'Relationship_between_religion_and_science'
    ]
   ]
  ,'Finger_tree'
  ,'Link/cut_tree'
  ,'Scapegoat_tree'
  ]
 ]
,'Dancing_trees'
,['Tree_(data_structure)'
 ,['Heap_(data_structure)'
  ,['Sorting_algorithm'
   ,'External_sorting'
   ,'Sorting_network'
   ,'Collation'
   ,'Schwartzian_transform'
   ,'Shuffle#Shuffling_algorithms'
   ]
  ]
 ,['Tree_(graph_theory)'
  ,['Decision_tree'
   ,['Influence_diagram'
    ,'Bayesian_network'
    ,'Morphological_Analysis'
    ]
   ,['Operations_research'
    ,'Assignment_problem'
    ,'Decision_Analysis'
    ,'Dynamic_programming'
    ,'Linear_programming'
    ,'Optimal_Maintenance'
    ,'Optimization_(mathematics)'
    ,'Real_options_analysis'
    ,'Scheduling'
    ,'Stochastic_processes'
    ,'Systems_analysis'
    ,'Systems_thinking'
    ,'Category:Operations_researchers'
    ,'Russell_L._Ackoff'
    ,'C._West_Churchman'
    ,'Anthony_Stafford_Beer'
    ,'Alfred_Blumstein'
    ,'George_Dantzig'
    ,'Thomas_L._Magnanti'
    ,'Alvin_E._Roth'
    ,'Industrial_Engineering'
    ,'Industrial_organization'
    ,'Management_science'
    ,'Managerial_economics'
    ,'Search_Based_Software_Engineering'
    ,'Simulation'
    ,'System_Dynamics'
    ,'Systems_theory'
    ,'Database_normalization'
    ]
   ,['Decision_tables'
    ,'Case_based_reasoning'
    ,'Cause-effect_graph'
    ]
   ,['Morphological_analysis_(problem-solving)'
    ,'Corporate_strategy'
    ,'Futures_studies'
    ,'Influence_diagrams'
    ,'Market_research'
    ,'Morphological_box'
    ,'Portal:Thinking'
    ,'Scenario_analysis'
    ,'Scenario_planning'
    ,'Socio-technical_systems'
    ,'Stakeholder_analysis'
    ,'Strategic_planning'
    ,'TRIZ'
    ]
   ,'Recursive_partitioning'
   ,['Decision_tree_learning'
    ,'Pruning_(algorithm)'
    ,'Binary_decision_diagram'
    ,'Predictive_analytics#Classification_and_regression_trees'
    ,'ID3_algorithm'
    ,'C4.5_algorithm'
    ,'Random_forest'
    ,'Decision_stump'
    ]
   ,['Topological_combinatorics'
    ,'Sperner%27s_lemma'
    ,'Discrete_exterior_calculus'
    ]
   ,['Multivariate_adaptive_regression_splines'
    ,'Linear_regression'
    ,'Generalized_linear_model'
    ,'Nonlinear_regression'
    ,'Generalized_additive_model'
    ,'Rational_function_modeling'
    ,'Spline_interpolation'
    ]
   ]
  ,'Pseudoforest'
  ,['Tree_data_structure'
   ,['Tree_(set_theory)'
    ,'Kurepa_tree'
    ,'Laver_tree'
    ,'Tree_(descriptive_set_theory)'
    ]
   ,['Exponential_tree'
    ]
   ,'Binary_Tree'
   ,['Enfilade_(Xanadu)'
    ,'Project_Xanadu'
    ,'Hypertext'
    ,'Hypermedia'
    ,'Ted_Nelson'
    ]
   ,'Quadtree'
   ,'Segment_tree'
   ,['T-tree'
    ,'T-pyramid'
    ,'Top_Trees'
    ]
   ,'Van_Emde_Boas_tree'
   ]
  ]
 ]
,'Data_drilling'
]//--}}}
</script>
